@model MyViewModel

@{
    ViewData["Title"] = "MyView";
}

<h2>MyView @Model.RequestId</h2>

<a href="/Home">Home</a>

<form asp-controller="My" method="post">

    <input type="text" asp-for="firstName"/>


    <button type="submit">Save</button>

</form>

